# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/HW1/Hangman/nbproject/private/
/HW1/Hangman/build/
/HW1/Hangman/dist/
/HW1Hangman/Hangman/nbproject/private/
/HW1Hangman/Hangman/build/
/HW1Hangman/Hangman/dist/
/HW1Hangman/HangmanHW2/nbproject/private/
/HW1Hangman/HangmanHW1/build/
/HW1Hangman/HangmanHW1/dist/
/HW1Hangman/HangmanHW1/nbproject/private/
/HangmanHW2/build/
/HangmanHW2/dist/
/Project/BinaryWebSocketServer/target/
/Project/JavaFXBinaryWsClient/target/
/Project/ProjectSSP/nbproject/private/
/Project/JavaApplication6/nbproject/private/
/Project/Project/target/
/Project/WebSocketApplication/target/
/Project/ChatClient/target/
/Project/ChatProgClient/target/
/Project/ChatProgCommonDep/target/
/Project/ChatApplication/target/
/HW2/target/